body {
  margin: 0;
  overflow-x: hidden;
  background-color: #F8F4E9;
}

.Line {
  border: 1px solid #221F9378;
  opacity: 0.47;
  width: 150px;
}

.Separateur {
  border: 1px solid #221F9378;
  opacity: 0.47;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#Intro {
  display: flex;
  flex-direction: column;
}
#Intro #FirstPart {
  display: flex;
  flex-direction: row;
}
#Intro #FirstPart .Presentation {
  padding: 1rem;
  width: 60vw;
}
#Intro #FirstPart .Presentation #LogoWithoutText {
  display: none;
}
#Intro #FirstPart .Presentation h1 {
  font-family: "Recife Display Trial";
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0em;
  text-align: left;
  color: #221F93;
  margin: 4rem 0 2rem;
}
#Intro #FirstPart .Presentation h2 {
  font-family: "Poppins";
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 2rem;
}
#Intro #FirstPart .Presentation .CtaIntro {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#Intro #FirstPart .Presentation .CtaIntro #CtaButton {
  border: none;
  height: 49px;
  width: 211px;
  left: 145px;
  top: 373px;
  border-radius: 8px;
  background-color: #221F93;
  color: #fff;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 6rem 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Intro #FirstPart .Presentation .Social {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
#Intro #FirstPart .Presentation .Social a {
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
  color: #000;
}
#Intro #FirstPart .Navigation {
  width: 40vw;
  background-color: #F7D76F;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#Intro #FirstPart .Navigation .Navbar {
  padding-top: 2rem;
  width: 100%;
}
#Intro #FirstPart .Navigation .Navbar nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}
#Intro #FirstPart .Navigation .Navbar nav ul li {
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #221F93;
}
#Intro #FirstPart .Navigation img {
  object-fit: contain;
  height: 550px;
  margin-top: auto;
}
#Intro #SmallScreen {
  display: none;
}

#Chiffres {
  width: 100vw;
  background-color: #332FD0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#Chiffres .Aides, #Chiffres .Dons, #Chiffres .Membres {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#Chiffres .Aides .emoji, #Chiffres .Dons .emoji, #Chiffres .Membres .emoji {
  width: 120px;
  height: 120px;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 7rem;
}
#Chiffres .Aides .emoji span.Smiley, #Chiffres .Dons .emoji span.Smiley, #Chiffres .Membres .emoji span.Smiley {
  display: inline;
  font-size: 30px !important;
  width: 100% !important;
}
#Chiffres .Aides .TextArea h1, #Chiffres .Dons .TextArea h1, #Chiffres .Membres .TextArea h1 {
  font-family: "Recife Display Trial";
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: 84px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin: 2rem 0 1rem;
}
#Chiffres .Aides .TextArea h2, #Chiffres .Dons .TextArea h2, #Chiffres .Membres .TextArea h2 {
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin-bottom: 4rem;
}

#Campagne {
  background-color: #F8F4E9;
  display: flex;
  flex-direction: row;
  padding: 6rem 1rem;
}
#Campagne .LeftSide h1 {
  font-family: "Recife Display Trial";
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0em;
  text-align: left;
  color: #221F93;
  margin-top: 0;
}
#Campagne .LeftSide h2 {
  font-family: "Poppins";
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  margin: 5rem 0 5rem;
}
#Campagne .LeftSide .ImgArea img {
  width: 25vw;
  height: 483px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0 2rem;
}
#Campagne .LeftSide .ImgArea img:nth-child(2) {
  margin-right: 0;
}
#Campagne .RightSide img {
  width: 30vw;
  height: 764px;
  object-fit: cover;
  border-radius: 8px;
}

#AboutUs {
  display: flex;
  flex-direction: row;
  background-color: #F8F4E9;
  padding: 6rem 3rem;
}
#AboutUs .ImgArea {
  width: 40vw;
}
#AboutUs .ImgArea img {
  width: 100%;
  border-radius: 8px;
}
#AboutUs .TextArea {
  width: 60vw;
}
#AboutUs .TextArea h1 {
  font-family: "Recife Display Trial";
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0em;
  text-align: right;
  color: #221F93;
  margin: 0rem;
  padding-top: 3rem;
}
#AboutUs .TextArea p {
  font-family: "Poppins";
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: right;
  color: #000;
  width: 70%;
  margin: 3rem 0 0 auto;
}

#Team {
  background-color: #F8F4E9;
}
#Team h1 {
  font-family: "Recife Display Trial";
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0em;
  text-align: center;
  color: #221F93;
  margin: 0 0 2rem;
  padding-top: 6rem;
}
#Team .Line {
  margin: 0 auto;
}
#Team .ProfilePicture {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: 6rem auto 0;
  padding-bottom: 6rem;
}
#Team .ProfilePicture .Rond {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #221F93;
  margin: 2rem 4rem;
}

#Temoignages {
  background-color: #F8F4E9;
  padding-top: 6rem;
  display: flex;
  flex-direction: row;
}
#Temoignages .carousel {
  width: 40vw;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto 0 3rem;
  padding-bottom: 6rem;
}
#Temoignages .carousel img {
  height: 600px;
  object-fit: cover;
}
#Temoignages .TextArea {
  margin-right: 4rem;
  width: 45vw;
}
#Temoignages .TextArea h1 {
  font-family: "Recife Display Trial";
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0em;
  text-align: right;
  color: #221F93;
}
#Temoignages .TextArea p {
  font-family: "Poppins";
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: right;
  margin-top: 4rem;
}

#Cta {
  background-color: #332FD0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4rem;
}
#Cta h1 {
  font-family: "Recife Display Trial";
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin: 4rem 0 4rem 2rem;
  width: 65vw;
}
#Cta #CtaButton {
  border: none;
  height: 70px;
  width: 319px;
  border-radius: 8px;
  background-color: #F7D76F;
  margin: 0 4rem 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #221F93;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 3.5rem 0 2rem;
}
footer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Poppins";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #221F93;
  text-decoration: none;
}
footer a p {
  margin: 0 0 0 20px;
}
footer a:hover {
  color: #221F93;
}
footer #LogoSmall {
  display: none;
}
footer #InstaSmall {
  display: none;
}
footer #CtaButton {
  border: none;
  height: 55px;
  width: 250px;
  border-radius: 8px;
  background-color: #221F93;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 35px !important;
    line-height: 50px !important;
  }

  h2, p {
    font-size: 12px !important;
    line-height: 18px !important;
  }

  #Intro #LogoWithoutText {
    display: block !important;
  }
  #Intro #LogoWithText {
    display: none;
  }
  #Intro .Presentation .CtaIntro a svg {
    width: 110px !important;
    height: 100%;
  }
  #Intro .Presentation .CtaIntro #CtaButton {
    height: 49px;
    width: 190px;
    font-size: 14px;
    margin-right: 2rem;
  }
  #Intro .Presentation .Social a {
    font-size: 14px;
  }
  #Intro .Navigation {
    align-items: flex-end;
    height: 60vh;
  }
  #Intro .Navigation .Navbar {
    position: absolute;
    right: 0;
    width: 490px !important;
    padding-top: 2rem;
    width: 100%;
  }
  #Intro .Navigation .Navbar nav ul li {
    font-size: 12px;
  }
  #Intro .Navigation img {
    height: 300px !important;
    margin: 16vw -70px 0 auto !important;
  }

  #Chiffres .Aides, #Chiffres .Dons, #Chiffres .Membres {
    flex-direction: column;
    justify-content: center;
  }
  #Chiffres .Aides .emoji, #Chiffres .Dons .emoji, #Chiffres .Membres .emoji {
    margin-top: 1rem;
    margin-right: 0;
    font-size: 5rem;
  }
  #Chiffres .Aides .TextArea h1, #Chiffres .Dons .TextArea h1, #Chiffres .Membres .TextArea h1 {
    margin-top: 1rem;
    text-align: center;
  }
  #Chiffres .Aides .TextArea h2, #Chiffres .Dons .TextArea h2, #Chiffres .Membres .TextArea h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  #Campagne {
    padding-top: 3rem;
    padding-right: 1rem;
  }
  #Campagne .LeftSide h2 {
    margin-top: 2rem;
  }
  #Campagne .LeftSide .ImgArea img {
    width: 30vw;
    height: 300px;
    margin: 0 0.5rem;
  }
  #Campagne .LeftSide .ImgArea img:nth-child(2) {
    margin-right: 0;
  }
  #Campagne .RightSide img {
    height: 400px;
    margin-left: 1rem;
  }

  #AboutUs {
    padding-bottom: 3rem;
  }

  #Team {
    padding-top: 3rem;
  }
  #Team h1 {
    padding-top: 0;
  }
  #Team .ProfilePicture {
    width: 95vw;
    margin: 2rem auto;
  }

  #Cta #CtaButton {
    margin-right: 10px;
    width: 190px;
    font-size: 14px;
  }

  footer #CtaButton {
    width: auto;
    height: 24px;
    font-size: 8px;
  }
  footer #Logo {
    display: none;
  }
  footer #LogoSmall {
    display: block;
  }
  footer #Insta svg {
    width: 21px;
    height: 21px;
  }
  footer #Insta p {
    font-size: 8px !important;
    margin-left: 0.6rem;
  }
}
@media screen and (max-width: 860px) {
  #Intro #FirstPart .Presentation #LogoWithoutText {
    display: block !important;
  }
  #Intro #FirstPart .Presentation #LogoWithText {
    display: none;
  }
  #Intro #FirstPart .Presentation #LargeScreen {
    display: none !important;
  }
  #Intro #FirstPart .Navigation .Navbar {
    width: 280px !important;
  }
  #Intro #FirstPart .Navigation .Navbar ul a li {
    font-size: 12px;
  }
  #Intro #SmallScreen {
    display: block;
    margin: 4rem 0;
  }
  #Intro #SmallScreen .CtaIntro {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #Intro #SmallScreen .CtaIntro a svg {
    width: 140px !important;
    height: 100%;
    padding-left: 1rem;
  }
  #Intro #SmallScreen .CtaIntro #CtaButton {
    border: none;
    height: 49px;
    width: 211px;
    left: 145px;
    top: 373px;
    border-radius: 8px;
    background-color: #221F93;
    color: #fff;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 1rem 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #Intro #SmallScreen .Social {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  #Intro #SmallScreen .Social a {
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
    color: #000;
  }

  #Chiffres .Aides, #Chiffres .Dons, #Chiffres .Membres {
    flex-direction: column;
    justify-content: center;
  }
  #Chiffres .Aides .Icon, #Chiffres .Dons .Icon, #Chiffres .Membres .Icon {
    margin-top: 1rem;
    margin-right: 0;
  }
  #Chiffres .Aides .TextArea h1, #Chiffres .Dons .TextArea h1, #Chiffres .Membres .TextArea h1 {
    margin-top: 1rem;
    text-align: center;
  }
  #Chiffres .Aides .TextArea h2, #Chiffres .Dons .TextArea h2, #Chiffres .Membres .TextArea h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  #Campagne .LeftSide .ImgArea img {
    width: 26vw;
    height: 43vw;
    margin: 0 0.5rem;
  }
  #Campagne .RightSide img {
    width: 26vw;
    height: 67vw;
    margin-top: 10rem;
  }

  #AboutUs {
    padding: 6rem 1rem 3rem;
    display: flex;
    flex-direction: column;
  }
  #AboutUs .ImgArea {
    width: 100%;
  }
  #AboutUs .ImgArea img {
    width: 100%;
  }
  #AboutUs .TextArea {
    width: 100%;
  }
  #AboutUs .TextArea h1, #AboutUs .TextArea p {
    text-align: center;
  }
  #AboutUs .TextArea p {
    margin: 3rem auto 0;
  }

  #Team {
    padding-top: 3rem;
  }
  #Team h1 {
    padding-top: 0;
  }
  #Team .ProfilePicture {
    width: 95vw;
    margin: 2rem auto;
  }
  #Team .ProfilePicture .Rond {
    margin: 1rem;
  }

  #Temoignages {
    display: flex;
    flex-direction: column-reverse;
  }
  #Temoignages #carouselExampleIndicators {
    width: 80vw;
    margin: 0 auto;
  }
  #Temoignages .TextArea {
    width: 80vw;
    margin: 0 auto;
  }
  #Temoignages .TextArea h1 {
    text-align: center;
  }
  #Temoignages .TextArea p {
    text-align: center;
  }

  #Cta {
    display: flex;
    flex-direction: column;
  }
  #Cta h1 {
    text-align: center;
    margin: 1rem auto;
  }
  #Cta #CtaButton {
    margin: 1rem auto;
    height: 3.5rem;
  }

  footer #CtaButton {
    width: auto;
    padding: 1rem;
    height: 24px;
    font-size: 8px;
  }
  footer #Logo {
    display: none;
  }
  footer #LogoSmall {
    display: block;
  }
  footer #Insta svg {
    width: 21px;
    height: 21px;
  }
  footer #Insta p {
    font-size: 8px !important;
    margin-left: 0.6rem;
  }
}

/*# sourceMappingURL=styles.css.map */
