body{ 
    margin: 0;
    overflow-x: hidden;
    background-color: #F8F4E9;
}

.Line{
    border: 1px solid #221F9378;
    opacity: 0.47;
    width: 150px;
}

.Separateur{
    border: 1px solid #221F9378;
    opacity: 0.47;
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

#Intro{
    display: flex;
    flex-direction: column;
    #FirstPart{
        display: flex;
        flex-direction: row;
        .Presentation{
            padding: 1rem;
            width: 60vw;
            #LogoWithoutText{
                display: none;
            }
            h1{
                font-family: "Recife Display Trial";
                font-size: 70px;
                font-style: normal;
                font-weight: 700;
                line-height: 84px;
                letter-spacing: 0em;
                text-align: left;
                color: #221F93;
                margin: 4rem 0 2rem;
            }
            h2{
                font-family: "Poppins";
                font-size: 18px;
                font-style: italic;
                font-weight: 300;
                line-height: 27px;
                letter-spacing: 0em;
                text-align: left;
                margin-bottom: 2rem;
            }
            .CtaIntro{
                display: flex;
                flex-direction: row;
                align-items: center;
                #CtaButton{
                    border: none;
                    height: 49px;
                    width: 211px;
                    left: 145px;
                    top: 373px;
                    border-radius: 8px;
                    background-color: #221F93;
                    color: #fff;
                    font-family: "Poppins";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 21px;
                    letter-spacing: 0em;
                    text-align: center;
                    margin: 0 6rem 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
            }
            .Social{
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 2rem;
                a{
                    font-family: "Poppins";
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 30px;
                    letter-spacing: 0em;
                    text-align: center;
                    text-decoration: none;
                    color: #000;
                }
            }
    
        }
        .Navigation{
            width: 40vw;
            background-color: #F7D76F;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .Navbar{
                padding-top: 2rem;
                width: 100%;
                nav{
                    ul{
                        width: 100%;
                        list-style: none;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        padding: 0;
                        li{
                            font-family: "Poppins";
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 27px;
                            letter-spacing: 0em;
                            text-align: center;
                            color: #221F93;
                        }
                    }
                }
            }
            img{
                object-fit: contain;
                height: 550px;
                margin-top: auto;
            }
        }
    }
    #SmallScreen{
        display: none;
    }
}

#Chiffres{
    width: 100vw;
    background-color: #332FD0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .Aides, .Dons, .Membres{
        display: flex;
        flex-direction: row;
        align-items: center;
        .emoji{
            width: 120px;
            height: 120px;
            margin-right: 2rem;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            font-size: 7rem;
                        
            span.Smiley{
                display: inline;
                font-size: 30px !important;
                width: 100% !important;
            }
        }
        .TextArea{
            h1{
                font-family: "Recife Display Trial";
                font-size: 70px;
                font-style: normal;
                font-weight: 600;
                line-height: 84px;
                letter-spacing: 0em;
                text-align: left;
                color: #fff;
                margin: 2rem 0 1rem;
            }
            h2{
                font-family: "Poppins";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 0em;
                text-align: left;
                color: #fff;
                margin-bottom: 4rem;
            }
        }
    }
}

#Campagne{
    background-color: #F8F4E9;
    display: flex;
    flex-direction: row;
    padding: 6rem 1rem;
    .LeftSide{
        h1{
            font-family: "Recife Display Trial";
            font-size: 70px;
            font-style: normal;
            font-weight: 700;
            line-height: 84px;
            letter-spacing: 0em;
            text-align: left;
            color: #221F93;   
            margin-top: 0;         
        }
        h2{
            font-family: "Poppins";
            font-size: 18px;
            font-style: italic;
            font-weight: 300;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: left;
            color: #000;
            margin:5rem 0 5rem;
        }
        .ImgArea{
            img{
                width: 25vw;
                height: 483px;
                object-fit: cover;
                border-radius: 8px;
                margin: 0 2rem;
            }
            img:nth-child(2){
                margin-right: 0;
            }
        }
    }

    .RightSide{
        img{
            width: 30vw;
            height: 764px;
            object-fit: cover;
            border-radius: 8px;

        }
    }
    

}

#AboutUs{
    display: flex;
    flex-direction: row;
    background-color: #F8F4E9;
    padding: 6rem 3rem;
    .ImgArea{
        width: 40vw;
        img{
            width: 100%;
            border-radius: 8px;
        }
    }

    .TextArea{
        width: 60vw;
        h1{
            font-family:"Recife Display Trial";
            font-size: 70px;
            font-style: normal;
            font-weight: 700;
            line-height: 84px;
            letter-spacing: 0em;
            text-align: right;
            color: #221F93;
            margin: 0rem;
            padding-top: 3rem;

        }
        p{
            font-family: "Poppins";
            font-size: 18px;
            font-style: italic;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: right;
            color: #000;
            width: 70%;
            margin: 3rem 0 0 auto;
        }
    }
}

#Team{
    background-color: #F8F4E9;
    h1{
        font-family: "Recife Display Trial";
        font-size: 70px;
        font-style: normal;
        font-weight: 700;
        line-height: 84px;
        letter-spacing: 0em;
        text-align: center;
        color: #221F93;
        margin: 0 0 2rem;
        padding-top: 6rem;
    }
    
    .Line{
        margin: 0 auto;
    }

    .ProfilePicture{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 80%;
        margin: 6rem auto 0;
        padding-bottom: 6rem;
        
        .Rond{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #221F93;
            margin: 2rem 4rem;
        }
    }
}

#Temoignages{
    background-color: #F8F4E9;
    padding-top: 6rem;
    display: flex;
    flex-direction: row;
    .carousel{
        width: 40vw;
        border-radius: 10px;
        overflow: hidden;
        margin: 0 auto 0 3rem;
        padding-bottom: 6rem;
        img{
            height: 600px;
            object-fit: cover;
        }
    }

    .TextArea{
        margin-right: 4rem;
        width: 45vw;
        h1{
            font-family: "Recife Display Trial";
            font-size: 70px;
            font-style: normal;
            font-weight: 700;
            line-height: 84px;
            letter-spacing: 0em;
            text-align: right;
            color: #221F93;
        }
        p{
            font-family: "Poppins";
            font-size: 18px;
            font-style: italic;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: right;
            margin-top: 4rem;
        }
    }
}

#Cta{
    background-color: #332FD0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4rem;
    h1{
        font-family: "Recife Display Trial";
        font-size: 70px;
        font-style: normal;
        font-weight: 700;
        line-height: 84px;
        letter-spacing: 0em;
        text-align: left;
        color: #fff;
        margin: 4rem 0 4rem 2rem;
        width: 65vw;
    }
    #CtaButton{
        border: none;
        height: 70px;
        width: 319px;
        border-radius: 8px;
        background-color: #F7D76F;
        margin: 0 4rem 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: "Poppins";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: center;
        color: #221F93;
    }
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3.5rem 0 2rem;
    a{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: "Poppins";
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: left;
        color: #221F93;
        text-decoration: none;
        p{
            margin:0 0 0 20px;
        }
    }
    a:hover{
        color: #221F93;
    }

    #Logo{
        
    }

    #LogoSmall{
        display: none;
    }

    #Insta{

    }

    #InstaSmall{
        display: none;
    }

    #CtaButton{
        border: none;
        height: 55px;
        width: 250px;
        border-radius: 8px;
        background-color: #221F93;
        
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Poppins";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: center;
        color: #fff;
    }

}

@media screen and (max-width: 1200px){
    h1{
        font-size: 35px!important;
        line-height: 50px!important;
    }
    h2,p{
        font-size: 12px!important;
        line-height: 18px!important;
    }

    #Intro{
        #LogoWithoutText{
            display: block!important;
        }
        #LogoWithText{
            display: none;
        }

        .Presentation{

            .CtaIntro{

                a{
                    svg{
                        width: 110px!important;
                        height: 100%;
                    }
                }

                #CtaButton{
                    height: 49px;
                    width: 190px;

                    font-size: 14px;    
                    margin-right: 2rem;
                }
                
            }
            .Social{
                a{
                    font-size: 14px;
                }
            }
    
        }
        .Navigation{
            align-items: flex-end;
            height: 60vh;
            .Navbar{
                position: absolute;
                right: 0;
                width: 490px!important;
                padding-top: 2rem;
                width: 100%;
                nav{
                    ul{

                        li{
                            font-size: 12px;
                        }
                    }
                }
            }
            img{
                height: 300px!important;
                margin: 16vw -70px 0 auto !important;
            }
        }



    }

    #Chiffres{
        .Aides, .Dons, .Membres{
            flex-direction: column;
            justify-content: center;
            .emoji{
                margin-top: 1rem;
                margin-right: 0;
                font-size: 5rem;
            }
            .TextArea{
                h1{
                    margin-top: 1rem;
                    text-align: center;
                }
                h2{
                   text-align: center;
                   margin-bottom: 2rem;
                }
            }
        }
    }

    #Campagne{
        padding-top: 3rem;
        padding-right: 1rem;
        .LeftSide{
            h1{
            }
            h2{
                margin-top: 2rem;
            }
            .ImgArea{
                img{
                    width: 30vw;
                    height: 300px;
                    margin: 0 0.5rem;
                }
                img:nth-child(2){
                    margin-right: 0;
                }
            }
        }
    
        .RightSide{
            img{
                height: 400px;
                margin-left: 1rem;
            }
        }
    }

    #AboutUs{
        padding-bottom: 3rem;
    }

    #Team{
        padding-top: 3rem;
        h1{
            padding-top: 0;
        }
        .ProfilePicture{
            width: 95vw;
            margin: 2rem auto;
        }
    }



    #Cta{
        #CtaButton{
            margin-right: 10px;
            width: 190px;
            font-size: 14px;
        }
    }

    footer{
        #CtaButton{
            width: auto;
            height: 24px;
            font-size: 8px;
        }
        
        #Logo{
            display: none;
        }
    
        #LogoSmall{
            display: block;
        }
    
        #Insta{
            svg{
                width: 21px;
                height: 21px;
            }
            p{
                font-size: 8px!important;
                margin-left: 0.6rem;
            }
        }
    }

}

@media screen and (max-width: 860px){

    #Intro{
        #FirstPart{
            .Presentation{
                #LogoWithoutText{
                    display: block!important;
                }
                #LogoWithText{
                    display: none;
                }
                #LargeScreen{
                    display: none!important;
                }

            }
            .Navigation{
                .Navbar{
                    width: 280px !important;
                    ul{
                        a{
                            li{
                                font-size: 12px;
                            }
                        }
                    }
                }

            }
        }

        #SmallScreen{
            display: block;
            margin: 4rem 0;
            .CtaIntro{
                display: flex;
                flex-direction: row;
                align-items: center;
                a{
                    svg{
                        width: 140px!important;
                        height: 100%;
                        padding-left: 1rem;
                    }
                }
                #CtaButton{
                    border: none;
                    height: 49px;
                    width: 211px;
                    left: 145px;
                    top: 373px;
                    border-radius: 8px;
                    background-color: #221F93;
                    color: #fff;
                    font-family: "Poppins";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 21px;
                    letter-spacing: 0em;
                    text-align: center;
                    margin: 0 1rem 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .Social{
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 2rem;
                a{
                    font-family: "Poppins";
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 30px;
                    letter-spacing: 0em;
                    text-align: center;
                    text-decoration: none;
                    color: #000;
                }
            }
        }
        
    }

    #Chiffres{
        .Aides, .Dons, .Membres{
            flex-direction: column;
            justify-content: center;
            .Icon{
                margin-top: 1rem;
                margin-right: 0;
    
            }
            .TextArea{
                h1{
                    margin-top: 1rem;
                    text-align: center;
                }
                h2{
                   text-align: center;
                   margin-bottom: 2rem;
                }
            }
        }
    }

    #Campagne{

        .LeftSide{

            .ImgArea{
                img{
                    width: 26vw;
                    height: 43vw;
                    margin: 0 0.5rem;
                }
                img:nth-child(2){
                }
            }
        }
    
        .RightSide{
            img{
                width: 26vw;
                height: 67vw;
                margin-top: 10rem;
            }
        }
    }

    #AboutUs{
        padding: 6rem 1rem 3rem;
        display: flex;
        flex-direction: column;
        .ImgArea{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .TextArea{
            width: 100%;
            h1,p{
                text-align: center;
            }
            p{
                margin: 3rem auto 0;
            }
        }
    }

    #Team{
        padding-top: 3rem;
        h1{
            padding-top: 0;
        }
        .ProfilePicture{
            width: 95vw;
            margin: 2rem auto;
            .Rond{
                margin: 1rem;
            }
        }
    }

    #Temoignages{
        display: flex;
        flex-direction: column-reverse;
        #carouselExampleIndicators{
            width: 80vw;
            margin: 0 auto;
        }
        .TextArea{
            width: 80vw;
            margin: 0 auto;
            h1{
                text-align: center;
            }
            p{
                text-align: center;
            }
        }
    }

    #Cta{
        display: flex;
        flex-direction: column;

        h1{
            text-align: center;
            margin: 1rem auto;
        }
        #CtaButton{
            margin: 1rem auto;
            height: 3.5rem;
        }
    }

    footer{
        #CtaButton{
            width: auto;
            padding: 1rem;
            height: 24px;
            font-size: 8px;
        }
        
        #Logo{
            display: none;
        }
    
        #LogoSmall{
            display: block;
        }
    
        #Insta{
            svg{
                width: 21px;
                height: 21px;
            }
            p{
                font-size: 8px!important;
                margin-left: 0.6rem;
            }
        }
    }

}